nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline;
    margin-right: 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .act{

    color: blue;
  }

.appearLeft{

  float: left;

}

.appearLeftA{
  float: left;
  margin-left: 200px;

}
.appearRight{

  float: right;
  

}

.dontAppear{

  display: none;
}