/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('./images/der.jpeg');
    
    background-position: center; /* Centra la imagen en el fondo */
    display: flex;
    flex-direction: column;
    margin: 0px;
}
html, body {
    height: 100%;
    margin: 0;
  }
  
  
  
  #content {
    flex: 1;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Ensures the footer is above other elements */
  }
  